body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 8, 61);
  color: bisque;
}

.mapContainer {
  width: 100vw;
  height: 450px;
  /* background-color: red; */
}

h1, h2 {
  text-align: center;
}
